[submodule "ansible/roles/install-sandbox/install-unbound"]
	path = ansible/roles/install-sandbox/install-unbound
	url = https://github.com/frederic-blanc/rpi-ansible-role_install-unbound
[submodule "ansible/roles/install-sandbox/install-docker"]
	path = ansible/roles/install-sandbox/install-docker
	url = https://github.com/frederic-blanc/rpi-ansible-role_install-docker
[submodule "ansible/roles/prepare-server/lock-ubuntu-user"]
	path = ansible/roles/prepare-server/lock-ubuntu-user
	url = https://github.com/frederic-blanc/rpi-ansible-role_lock-ubuntu-user
[submodule "ansible/roles/prepare-server/prepare-network"]
	path = ansible/roles/prepare-server/prepare-network
	url = https://github.com/frederic-blanc/rpi-ansible-role_prepare-network
[submodule "ansible/roles/prepare-server/prepare-system"]
	path = ansible/roles/prepare-server/prepare-system
	url = https://github.com/frederic-blanc/rpi-ansible-role_prepare-system
[submodule "ansible/roles/prepare-server/prepare-users"]
	path = ansible/roles/prepare-server/prepare-users
	url = https://github.com/frederic-blanc/rpi-ansible-role_prepare-users
